@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Sacramento&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Catamaran", sans-serif;
}

/* universal css start */
.text-orange{
    color: #ea512e;
}

.text-black{
    color: #1b0238;
}
.text-silver{
    color: #6b6b84;
}
.bg-orange{background:#ea512e ;}
.bg-yellow{background:#f5890d ;}
.mt-20{margin-top: 150px;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

p{
   
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}


.btn{
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s;position: relative;
    background: #ea512e;
    padding: 12px 35px;
}

.btn:hover{
    color: #fff;
    background: #f5890d;
}


/* universal css end */
/* nav start */
a.nav-link:hover, a.dropdown-item:hover{
    color: #ea512e !important;
    transition: 0.2s linear;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin: 10px;
}
/* nav end */

/* banner css start */
.banner{
    width: 100%;
    height: 700px;
    background: url(../images/main-banner-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.shape-1{
    top: 3.5%;
    left: .7%;
    animation: move 1s linear alternate infinite;
}

.shape-2{
    top: 3.5%;
    left: 50%;
    animation: move2 2s linear alternate infinite;
}
.shape-3{
    top:66%;
    left: .7%;
    z-index: 9;
    animation: move 2s linear alternate infinite;
}
.shape-4{
    top:75%;
    left: 50%;
    /* z-index: 9; */
    animation: move3 2s linear alternate infinite;
}

.banner h1{
    font-size: 60px;
}

/* mrdia qwery start */
@media screen and (max-width:991px){
    .shape-1, .shape-2, .shape-3, .shape-4, .shape-5{
        display: none;
    }

    @media screen and (min-width:768px) and (max-width:991px){
        .main-content{
            text-align: center;
            margin: auto;
        }

     .main-content p {
        margin-top: 50px;
     }
    }
}
/* mrdia qwery end*/
/* banner css end */

/* who we are start */

.who-we-content span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}
.who-we-content h3{
    font-size: 45px;
    margin: 20px 0;
}

.who-we-content ul li{
    font-size: 16px;
    font-weight: 600;
    color: #1b0238;
    
}

.who-we-content ul li span{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    line-height: 30px;
    background: #ea512e;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto",sans-serif;
}

.who-we-content ul li:hover span{
    transition: 1s all;
}
.shape-5{
    bottom:-30%;
    left: 85%;
    animation: move5 2s linear alternate infinite;
}

/* who we are end */

@keyframes move{
    0%{

    }
    100%{
        left: 3%;
    }
}

@keyframes move2 {
    0%{}
    100%{left:53%;}
}
@keyframes move3 {
    0%{}
    100%{
        top: 70%;
    }
}

@keyframes move5{
    0%{

    }
    100%{
        left: 80%;
    }
}